---
import dataUser from "../store/dataUser";

// Acceder al store y leer el valor de `fullName`
const {
    presentation,
    firstName,
    secondName,
    firstSurname,
    secondSurname,
    digitalPlataforms,
} = dataUser;

const fullName =
    firstName + " " + secondName + " " + firstSurname + " " + secondSurname;
---

<section class="home" id="home">
    <div class="home-content">
        <h1>
            Hola, mi nombre es <span>{firstName + " " + firstSurname}</span>
        </h1>
        <h3 class="text-animation">
            Soy <span> </span>
        </h3>
        <p>
            {presentation}
        </p>

        <div class="social-icons">
            {
                digitalPlataforms.map(
                    (dp: {
                        id: number;
                        url: string;
                        iconClassName: string;
                    }) => (
                        <a
                            href={dp.url}
                            target="_blank"
                            rel="noopener noreferrer"
                        >
                            <i class={dp.iconClassName} />
                        </a>
                    ),
                )
            }
        </div>

        <div class="btn-group">
            <a href="#" class="btn"> Contratar </a>
            <a href="#contact" class="btn"> Contactar </a>
        </div>
    </div>

    <div class="home-img">
        <img src="/public/img/Perfil.jpg" alt="" />
    </div>
</section>
