---

---

<section class="services" id="services">
    <h2 class="heading">Services</h2>

    <div class="services-container">
        <div class="service-box">
            <div class="service-info">
                <h4>Ui Design</h4>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam
                    dolorum eveniet magni cum in laudantium amet at officia
                    error maxime.
                </p>
            </div>
        </div>

        <div class="service-box">
            <div class="service-info">
                <h4>Frontend Develoment</h4>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam
                    dolorum eveniet magni cum in laudantium amet at officia
                    error maxime.
                </p>
            </div>
        </div>

        <div class="service-box">
            <div class="service-info">
                <h4>Backend Develoment</h4>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam
                    dolorum eveniet magni cum in laudantium amet at officia
                    error maxime.
                </p>
            </div>
        </div>
        <div class="service-box">
            <div class="service-info">
                <h4>Testing</h4>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam
                    dolorum eveniet magni cum in laudantium amet at officia
                    error maxime.
                </p>
            </div>
        </div>
    </div>
</section>
