---
import dataUser from "../store/dataUser";

// Acceder al store y leer el valor de `fullName`
const { services } = dataUser;
---

<section class="services" id="services">
    <h2 class="heading">Services</h2>

    <div class="services-container">
        {
            services.map((service) => (
                <div class="service-box">
                    <div class="service-info">
                        <h4>{service.title} </h4>
                        <p> {service.description} </p>
                    </div>
                </div>
            ))
        }
    </div>
</section>
