---
import dataCurriculum from "../store/dataCurriculum";

// Acceder al store y leer el valor de `fullName`
const { technologies } = dataCurriculum;
---

<section class="testimonials" id="technologies">
    <div class="testimonials-box">
        <h2 class="heading">Tecnologias</h2>

        <div class="technologies-container">
            {
                technologies.map(
                    (tec: { id: number; name: string; urlImg: string }) => (
                        <img src={tec.urlImg} alt="" />
                    ),
                )
            }
        </div>
    </div>
</section>
