---
import dataCurriculum from "../store/dataCurriculum";

// Acceder al store y leer el valor de `fullName`
const { technologies } = dataCurriculum;
---

<section class="technologies" id="technologies">
    <div class="testimonials-box">
        <h2 class="heading">Tecnologias</h2>

        <div class="technologies-container">
            {
                technologies.map(
                    (tec: {
                        id: number;
                        name: string;
                        urlInfo: string;
                        urlImg: string;
                    }) => (
                        <div class="technologies-item">
                            <a
                                href={tec.urlInfo}
                                target="_blank"
                                rel="noopener noreferrer"
                            >
                                <img src={tec.urlImg} alt="" />
                                <p> {tec.name} </p>
                            </a>
                        </div>
                    ),
                )
            }
        </div>
    </div>
</section>
