---

---

<section class="testimonials" id="testimonials">
    <div class="testimonials-box">
        <h2 class="heading">Testimonios</h2>

        <div class="wrapper">
            <div class="testimonial-item">
                <img src="public/img/foto1.jpg" alt="" />
                <h2>Marilyn</h2>
                <div class="rating">
                    <i class="bx bxs-star" id="star"></i>
                    <i class="bx bxs-star" id="star"></i>
                    <i class="bx bxs-star" id="star"></i>
                    <i class="bx bxs-star" id="star"></i>
                    <i class="bx bxs-star" id="star"></i>
                </div>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Dignissimos, minus.
                </p>
            </div>

            <div class="testimonial-item">
                <img src="public/img/foto2.jpeg" alt="" />
                <h2>Julia</h2>
                <div class="rating">
                    <i class="bx bxs-star" id="star"></i>
                    <i class="bx bxs-star" id="star"></i>
                    <i class="bx bxs-star" id="star"></i>
                    <i class="bx bxs-star" id="star"></i>
                    <i class="bx bxs-star" id="star"></i>
                </div>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Dignissimos, minus.
                </p>
            </div>

            <div class="testimonial-item">
                <img src="public/img/foto3.jpeg" alt="" />
                <h2>Marilyn</h2>
                <div class="rating">
                    <i class="bx bxs-star" id="star"></i>
                    <i class="bx bxs-star" id="star"></i>
                    <i class="bx bxs-star" id="star"></i>
                    <i class="bx bxs-star" id="star"></i>
                    <i class="bx bxs-star" id="star"></i>
                </div>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Dignissimos, minus.
                </p>
            </div>
        </div>
    </div>
</section>
