---
import dataUser from "../store/dataUser";

// Acceder al store y leer el valor de `fullName`
const { digitalPlataforms } = dataUser;
---

<footer class="footer">
    <div class="social">
        {
            digitalPlataforms.map(
                (dp: { id: number; url: string; iconClassName: string }) => (
                    <a href={dp.url} target="_blank" rel="noopener noreferrer">
                        <i class={dp.iconClassName} />
                    </a>
                ),
            )
        }
    </div>

    <ul class="list">
        <li>
            <a href="">FAQ</a>
        </li>
        <li>
            <a href="#services">Servicios</a>
        </li>
        <li>
            <a href="#projects">Proyectos</a>
        </li>
        <li>
            <a href="#home">Acerca de mi</a>
        </li>
        <li>
            <a href="#contact">Contacto</a>
        </li>
        <!-- <li>
            <a href="">Testimonios</a>
        </li> -->
    </ul>
    <p class="copyright">© Luis López | Todos los derechos reservados</p>
</footer>
