---

---

<header class="header">
    <a href="#home" class="logo">
        Luis
        <span> Lopez </span>
        <i class="bx bx-menu" id="menu-icon"></i>
    </a>

    <nav class="navbar">
        <a href="#home" class="active"> Home </a>
        <a href="#educacion"> Educacion </a>
        <a href="#servicios"> Servicios </a>
        <a href="#testimonios"> Testimonios </a>
        <a href="#contacto"> Conctacto </a>
    </nav>
</header>
